canvas {
    /* Space coloured bg */
    background: black;/*radial-gradient(circle, aqua 30%, black 35%, black 50%);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}